$clr-lightgrey: #DEDDDE;
$clr-grey: #b4b4b4;
$clr-darkgrey: #6d6d6d;
$clr-white: #F3F3F3;
$clr-orange: #ED694C;
$clr-purple: #647DBA;
$clr-yellow: #F1E300;
$clr-lightblue: #5fa8d3;
$clr-blue: #3391e0;
$clr-darkblue: #0054AD;
$clr-red: #e03333;
$clr-lightred: #ec6a6a;
$clr-green: #53ce40;